<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
  <!-- LOGO -->
  <div class="navbar-brand-box">
    <!-- Dark Logo-->
    <a href="../../../dashboard" class="logo logo-dark">
      <span class="logo-sm">
        <img src="/velzon/icons/logo.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="/velzon/icons/logo.png" alt="" height="17">
      </span>
    </a>
    <!-- Light Logo-->
    <a href="../../../dashboard" class="logo logo-light">
      <span class="logo-sm">
        <img src="/velzon/icons/logo.png" alt="" height="22">
      </span>
      <span class="logo-lg">
        <img src="/velzon/icons/logo.png" alt="" height="17">
      </span>
    </a>
    <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
      <i class="ri-record-circle-line"></i>
    </button>
  </div>

  <div id="scrollbar">
    <div class="container-fluid">

      <div id="two-column-menu">
      </div>
      <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title"><span data-key="t-menu">Menu</span></li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="/main" id="a_/dashboard">
            <i class="ri-arrow-left-line"></i> <span data-key="t-widgets">Kembali ke Main Menu</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link menu-link" href="<%-session.url_dashboard;%>" id="a_/dashboard">
            <i class="bx bxs-dashboard"></i> <span data-key="t-widgets">Dashboard</span>
          </a>
        </li>
        
        <% for (let sesMenu = 0; sesMenu < session.menu.length; sesMenu++) {  var menuTop = session.menu[sesMenu];%>
          <!--if menu have child -->
          <% if(menuTop.childs.length != 0){%>
            <li class="nav-item">
              <a class="nav-link menu-link " href="#<%- menuTop.menu_id %>" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="<%- menuTop.menu_id %>">
                <i class="<%- menuTop.icon %>"></i> <span data-key="t-landing"><%- menuTop.menu_name%></span>
              </a>
              <div class="collapse menu-dropdown" id="<%- menuTop.menu_id %>">
                <ul class="nav nav-sm flex-column">
                  <% for (let sesMenu1 = 0; sesMenu1 < menuTop.childs.length; sesMenu1++) {  var menuTop1 = menuTop.childs[sesMenu1];%>

                    <!--if menu have child -->
                    <% if(menuTop1.childs.length != 0){%>
                      <li class="nav-item">
                        <a class="nav-link menu-link" href="#<%- menuTop1.menu_id %>" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="<%- menuTop1.menu_id %>">
                          <span data-key="t-landing"><%- menuTop1.menu_name%></span>
                        </a>
                        <div class="collapse menu-dropdown" id="<%- menuTop1.menu_id %>">
                          <ul class="nav nav-sm flex-column">
                            <% for (let sesMenu2 = 0; sesMenu2 < menuTop1.childs.length; sesMenu2++) {  var menuTop2 = menuTop1.childs[sesMenu2];%>
          
                              <!--if menu have child -->
                              <% if(menuTop2.childs.length != 0){%>
          
                              <% }else{ %>
                              <!--if menu don't have child -->
                                <li class="nav-item"><a href="<%- menuTop2.url %>" id="a_<%- menuTop2.url %>" class="nav-link" data-key="t-one-page"> <%- menuTop2.menu_name%></a></li>
                              <% } %>
                              
                            <% } %>
                          </ul>
                        </div>
                      </li>
                    <% }else{ %>
                    <!--if menu don't have child -->
                      <li class="nav-item"><a href="<%- menuTop1.url %>" id="a_<%- menuTop1.url %>" class="nav-link" data-key="t-one-page"><%- menuTop1.menu_name%></a></li>
                    <% } %>

                  <% } %>
                </ul>
              </div>
            </li>
          <% }else{ %>
          <!--if menu don't have child -->
          <li class="nav-item">
            <a class="nav-link menu-link" href="<%- menuTop.url %>">
              <i class="<%- menuTop.icon %>"></i> <span data-key="t-widgets"><%- menuTop.menu_name%></span>
            </a>
          </li>
          <% } %>

        <% } %>
        
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
  <!--end back-to-top-->
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>
<script>
  function gototiketing() {
    // window.open('', '_blank');
  }

  var curUrl = window.location.href
  var curUrlSplit = curUrl.split("/");
  var urlActiveMenu = `a_/${curUrlSplit[curUrlSplit.length - 1]}`
  // var d = document.getElementById(urlActiveMenu);
  // d.className += " active";
  
</script>