<%- include('../../partials/header.ejs') %>
<%- include('../../partials/topbar.ejs') %>
<%- include('../../partials/sidebar.ejs') %>
<style>
  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
</style>
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <%- include('../../partials/page-title.ejs') %>
      <div class="row">
        <div class="col-lg-12">
          <div class="card" id="leadsList">
            <div class="card-header border-0">
              <div class="row g-4 align-items-center">
                <div class="col-sm-3">
                  <div class="search-box">
                    <input type="text" id="myCustomSearchBox" class="form-control search" placeholder="Search for...">
                    <i class="ri-search-line search-icon"></i>
                  </div>
                </div>
                <div class="col-sm-3">
                  <button class="btn btn-success" id="addNewDevice" onclick="addNewDevice()">Create New Device</button>
                </div>

              </div>
            </div>
            <div class="card-body">
              <div>
                <div id="utama">
                  <div class="table-responsive table-card">
                    <table class="table table-list" id="tableUtama" style="width: 100%">
                      <thead class="table-light">
                        <tr>
                          <th style="width:10%" class="text-center">Action</th>
                          <th style="width:10%" class="text-center">Device ID</th>
                          <th style="width:15%" class="text-left">Description</th>
                          <th style="width:10%" class="text-center">Number</th>
                          <th style="width:20%" class="text-center">Status</th>
                          <th style="width:25%" class="text-center">Last Update Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(i=0; i < devices.length; i++){
                            var color = 'success';
                            var status = "CONNECTED";
                            if(devices[i].status != 'true'){
                                color = 'danger';
                                status = "UNCONNECTED";
                            }
                            %>
                        <tr>
                          <td class="text-center">
                            <button type="button" class="btn btn-soft-info btn-sm" onclick="refresh('<%- devices[i].device_id %>')">
                              <i class="bx bx-refresh"></i>
                            </button>
                            <button type="button" class="btn btn-soft-dark btn-sm" onclick="detail('<%- devices[i].device_id %>')">
                              <i class="bx bx-qr-scan"></i>
                            </button>
                          </td>
                          <td class="text-center">
                            <button class="btn btn-soft-<%- color %> btn-sm" onclick="detail('<%- devices[i].device_id %>')"><%- devices[i].device_id %></button>
                          </td>
                          <td class="text-left">
                            <%- devices[i].description %>
                          </td>
                          <td class="text-center">
                            <%- devices[i].no_sender %>
                          </td>
                          <td class="text-center">
                            <button class="btn btn-<%- color %> btn-sm" onclick="detail('<%- devices[i].device_id %>')"><%- status %></button>
                          </td>
                          <td class="text-center">
                            <button class="btn btn-soft-<%- color %> btn-sm"><%- devices[i].last_status_update %></button>
                          </td>
                        </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modal"></div>
  <div id="modalLoading"></div>
  <%- include('../../partials/footer.ejs') %>
</div>
<%- include('../../partials/customizer.ejs') %>
<%- include('../../partials/vendor-scripts.ejs') %>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
<script type='text/javascript' src='../assets/libs/choices.js/public/assets/scripts/choices.min.js'></script>
<script type='text/javascript' src='../assets/libs/flatpickr/flatpickr.min.js'></script>
<script src="../assets/libs/sortablejs/Sortable.min.js"></script>
<script src="../assets/js/pages/nestable.init.js"></script>
<script src="../assets/js/app.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!--GENERAL SCRIPT-->
<script>
  var versionUpdate = (new Date()).getTime();
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "../assets/js/script.js";
  document.body.appendChild(script);
</script>

<script>
  var baseUrl = '<%- baseurl %>';
  const sekarang = '<%-  sekarang %>';
  var baseUrlRestart = 'https://whatsapp.febriansyah.dev/log'

  window.addEventListener('load', async function() {
    dtable = $('#tableUtama').DataTable({
      searching: true,
      lengthChange: false,
      "dom": "lrtip",
    });
    $('#myCustomSearchBox').keyup(function() {
      dtable.search($(this).val()).draw();
    })
  })

  async function detail(device_id) {
    window.open(`${baseUrl}/detail?device_id=${device_id}`, '_blank');
  }

  async function refresh(device_id) {
    await showLoading("Please wait...");
    var url = `${baseUrl}/refresh`;
    var res = await ajaxPostWIthList(url, {
      device_id: device_id
    }, "");
    if (res.status) {
      // location.reload()
    } else {
      showSnackError(res.remarks);
    }
    await dismisLoading();
  }

  async function addNewDevice() {
    await showLoading("Please wait...");
    var url = `${baseUrl}/add-new`;
    var res = await ajaxPostWIthList(url, {}, "");
    if (res.status) {
      location.reload()
    } else {
      showSnackError(res.remarks);
    }
    await dismisLoading();
  }

  async function deleteSess(device_id) {
    await showLoading("Please wait...");
    var url = `${baseUrl}/deleteSession`;
    var res = await ajaxPostWIthList(url, {
      device_id: device_id
    }, "");
    if (res.status) {
      await restart();
      location.reload()
    } else {
      showSnackError(res.remarks);
    }
    await dismisLoading();
  }

  async function restart() {
    await showLoading("Please wait...");
    var dataPost = {
      id: 3
    }
    var url = `${baseUrlRestart}/restart`;
    var res = await ajaxPostWIthList(url, dataPost, "");
    await dismisLoading();
  }

  async function ajaxPostWIthList(url, dataPost, btnId) {
    return await Promise.resolve(
      $.ajax({
        url: url,
        type: "post",
        dataType: "json",
        data: JSON.stringify(dataPost),
        contentType: "application/json; charset=utf-8",
        beforeSend: function() {
          btnId.value = "Processing....";
          btnId.disabled = true;
        },
        success: (res) => {
          btnId.disabled = false;
          return res;
        },
        error: (XMLHttpRequest, textStatus, errorThrown) => {
          btnId.disabled = false;
          return false;
        },
      })
    );
  }
</script>
</body>

</html>