<%- include('../../partials/header.ejs') %>
<div class="auth-page-wrapper pt-5">
  <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <div class="bg-overlay"></div>
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1440 120">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
      </svg>
    </div>
  </div>
  <div class="auth-page-content">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card mt-4">
            <%- include('../../partials/message.ejs') %>
            <div class="card-body p-4">
              <div class="text-center">
                <img src="/icons/logo-center.jpg" class="img-fluid" style="width:50%; margin:0" />
              </div>
              <div class="text-center mt-2">
                <h1 class="text-danger">LIVE-TIKTOK</h1>
                <p class="text-muted">GET YOUR MONEY FROM TIKTOK</p>
              </div>
              <div class="p-2 mt-4">
                <div class="alert alert-danger alert-border-left alert-dismissible fade show" role="alert" id="divBrowser" style="display: none;">
                  <i class="ri-alert-line me-3 align-middle"></i> <strong>Info</strong> 
                  <div id="divIndikasiDoubleHtml"> Harap menggunakan Google Chrome</div>
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" class="form-control" name="email" id="email" placeholder="Enter Your email">
                </div>
                <div class="mb-3">
                  <label class="form-label" for="password-input">Password</label>
                  <div class="position-relative auth-pass-inputgroup mb-3">
                    <input type="password" class="form-control pe-5" placeholder="Enter password" name="password" id="password">
                    <button class="btn btn-link position-absolute end-0 top-0 text-decoration-none text-muted" type="button" id="password-addon" onclick="showPass()"><i class="ri-eye-fill align-middle"></i></button>
                  </div>
                </div>
                <div class="mt-4">
                  <button class="btn btn-danger w-100" id="login" onclick="submit()">Sign In</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center">
            <p class="mb-0 text-muted">&copy;
              <script> document.write(new Date().getFullYear()); </script> 
              CMMS <i class="mdi mdi-heart text-danger"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<div id="modalLoading"></div>

<%- include('../../partials/customizer.ejs') %>
<%- include('../../partials/vendor-scripts.ejs') %>
<script src="/velzon/assets/js/jquery.min.js"></script>
<script src="/velzon/assets/libs/particles.js/particles.js"></script>
<script src="/velzon/assets/js/pages/particles.app.js"></script>

<script src="/velzon/assets/js/iziToast.min.js" ></script>
<script src="/velzon/assets/js/iziToast.js" ></script>

<script>
  var baseUrl = '<%- baseurl %>';

  window.addEventListener('load', async () => {
      var divBrowser = document.getElementById('divBrowser')
      if(navigator.sayswho != 'Chrome'){
          divBrowser.style.display = 'flex'
      }else{
          divBrowser.style.display = 'none'
      }
  });

  function showPass() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
  
  async function submit() {
    try {
      var email = $("#email").val();
      var password = $("#password").val();

      if (email == '') {
        showSnackError("Please enter email");
        return false
      }
      if (password == '') {
        showSnackError("Please enter Password");
        return false
      }
      var dataPost = {
        email: email,
        password: password
      }
      var url = baseUrl;
      var btnId = "login";
      await showLoading("Please wait...", true);
      var res = await ajaxPost(url, dataPost, btnId);
      await dismisLoading();
      if (!res) {
        showSnackError("Something wrong system");
      } else {
        if (res.status) {
          showSnackSuccess(res.remarks)
          window.location.replace(`${baseUrl}/dashboard`);
        } else {
          showSnackError(res.remarks);
        }
      }
    } catch (error) {
      showSnackError(error.toString());
      await dismisLoading();
    }
  };

  $("#email").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#login").click();
    }
  });
  $("#password").keyup(function(event) {
    if (event.keyCode === 13) {
        $("#login").click();
    }
  });

</script>
</body>

</html>