<%- include('../../partials/header.ejs') %>
<%- include('../../partials/topbar.ejs') %>
<%- include('../../partials/sidebar.ejs') %>


<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">

      <!-- start page title -->
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Analytics</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                <li class="breadcrumb-item active">Analytics</li>
              </ol>
            </div>

          </div>
        </div>
      </div>
      <!-- end page title -->

      <div class="row">
        <div class="col-xxl-5">
          <div class="d-flex flex-column h-100">
            <div class="row">
              <div class="col-md-6">
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="fw-medium text-muted mb-0">DEVICE</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%- param.device_all %>" id="device_all">0</span></h2>
                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0" id="device_active">
                            <%- param.device_active %> </span> Active</p>
                      </div>
                      <div>
                        <div class="avatar-sm flex-shrink-0">
                          <span class="avatar-title bg-soft-info rounded-circle fs-2">
                            <i data-feather="smartphone" class="text-info"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="fw-medium text-muted mb-0">QUEUE MESSAGE</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%- param.pending_message %>" id="pending_message">0</span></h2>
                        <p class="mb-0 text-muted"><span class="badge bg-light text-warning mb-0">
                            This Year </span>
                        </p>
                      </div>
                      <div>
                        <div class="avatar-sm flex-shrink-0">
                          <span class="avatar-title bg-soft-warning rounded-circle fs-2">
                            <i data-feather="message-square" class="text-warning"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="fw-medium text-muted mb-0">SUCCESS MESSAGE</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%- param.success_message %>" id="success_message">0</span></h2>
                        <p class="mb-0 text-muted"><span class="badge bg-light text-success mb-0">
                            This Year </span>
                        </p>
                      </div>
                      <div>
                        <div class="avatar-sm flex-shrink-0">
                          <span class="avatar-title bg-soft-success rounded-circle fs-2">
                            <i data-feather="message-circle" class="text-success"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="card card-animate">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="fw-medium text-muted mb-0">FAILED MESSAGE</p>
                        <h2 class="mt-4 ff-secondary fw-semibold"><span class="counter-value" data-target="<%- param.failed_message %>" id="failed_message">0</span></h2>
                        <p class="mb-0 text-muted"><span class="badge bg-light text-danger mb-0">
                            This Year </span>
                        </p>
                      </div>
                      <div>
                        <div class="avatar-sm flex-shrink-0">
                          <span class="avatar-title bg-soft-danger rounded-circle fs-2">
                            <i data-feather="alert-triangle" class="text-danger"></i>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-animate" style="background-color: black;">
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <div>
                        <p class="fw-medium mb-0" style="color: rgb(12, 249, 12);"><b>LOG SEND MESSAGES <span id="time-clock"></span></b></p>
                        <br>
                        <div id="divLogs"></div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div> <!-- end col-->

        <div class="col-xxl-7">
          <div class="row h-100">
            <div class="col-xl-6">
              <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                  <h4 class="card-title mb-0 flex-grow-1">Sending Messages<br>Last 1 Day</h4>
                  <div class="flex-shrink-0">

                    <div class="btn-group" role="group" aria-label="Basic example">
                      <button type="button" class="btn btn-soft-primary btn-sm" id="resendMessage" onclick="resendMessage()">
                        Resend Failed Message
                      </button>
                      <button type="button" class="btn btn-soft-danger btn-sm" id="refreshMessage" onclick="refreshMessage()">
                        <i class="bx bx-refresh"></i>
                      </button>
                    </div>
                  </div>
                </div>

                <!-- card body -->
                <div class="card-body">
                  <div class="table-responsive table-card">
                    <table class="table align-middle table-borderless table-centered table-nowrap mb-0" id="tblLive">
                      <thead class="text-muted table-light">
                        <tr>
                          <th scope="col" style="width: 62;">Device</th>
                          <th scope="col text-center">Queue</th>
                          <th scope="col text-center">Success</th>
                          <th scope="col text-center">Failed</th>
                        </tr>
                      </thead>
                      <tbody id="tBodyLive"></tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-6">
              <div class="card card-height-100">
                <div class="card-header align-items-center d-flex">
                  <h4 class="card-title mb-0 flex-grow-1">Recapitulation</h4>
                  <div>
                    <button type="button" class="btn btn-soft-secondary btn-sm" onclick="getBar('all','barAll')" id="barAll">
                      ALL
                    </button>
                    <button type="button" class="btn btn-soft-primary btn-sm" onclick="getBar(1,'bar1')" id="bar1">
                      1M
                    </button>
                    <button type="button" class="btn btn-soft-secondary btn-sm" onclick="getBar(6, 'bar6')" id="bar6">
                      6M
                    </button>
                  </div>
                </div>
                <div class="card-body p-0">
                  <div>
                    <div id="countries_charts" data-colors='["--vz-info", "--vz-info", "--vz-info", "--vz-info", "--vz-danger", "--vz-info", "--vz-info", "--vz-info", "--vz-info", "--vz-info"]' class="apex-charts" dir="ltr"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- container-fluid -->
  </div>
  <!-- End Page-content -->
  <%- include('../../partials/footer.ejs') %>
</div>
<div id="modalLoading"></div>


<%- include('../../partials/customizer.ejs') %>
<%- include('../../partials/vendor-scripts.ejs') %>


<script src="/velzon/assets/js/app.js"></script>
<script src="/velzon/assets/libs/jsvectormap/js/jsvectormap.min.js"></script>
<script src="/velzon/assets/libs/jsvectormap/maps/world-merc.js"></script>
<script src="/velzon/assets/libs/apexcharts/apexcharts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js" crossorigin="anonymous"></script>
<!-- GENERAL SCRIPT -->
<script>
  var versionUpdate = (new Date()).getTime();
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "/assets/js/script.js";
  document.body.appendChild(script);
</script>
<script>
  var baseUrl = '<%- baseurl %>';
  var baseurlDomain = '<%- baseurlDomain %>';
  var user_id = '<%- user_id %>'
  const socket = io(baseurlDomain);
  var logs = [];
  var idLog = 0;


  window.addEventListener('load', async function() {
    await showLoading("Please wait...");
    await getBar("all", 'btnAll');
    await refreshMessage();
    await dismisLoading();
    socket.on('socket_dashboard_' + user_id, function(data) {
      document.getElementById('device_all').innerHTML = data.device_all;
      document.getElementById('device_active').innerHTML = data.device_active;
      document.getElementById('failed_message').innerHTML = data.failed_message;
      document.getElementById('pending_message').innerHTML = data.pending_message;
      document.getElementById('success_message').innerHTML = data.success_message;
      tBodyLive(data.data)
    });

    socket.on('log_sendmessage_' + user_id, function(data) {
      var number = '';
      if (data.number) {
        number = data.number;
      }
      addLog(data.date, data.device_id, data.remarks, number)
    });
  })

  var timeDisplay = document.getElementById("time-clock");

  function refreshTime() {
    var dateString = new Date().toLocaleString("en-US", {
      timeZone: "Asia/Jakarta"
    });
    var formattedString = dateString.replace(", ", " - ");
    timeDisplay.innerHTML = formattedString;
  }
  setInterval(refreshTime, 1000);


  function addLog(date, deviceId, message, number = '') {
    var totalLog = logs.length;
    var last = logs.slice(-1)[0]
    var idLog = 1;
    if (totalLog > 0) {
      idLog = last.id;
    }
    var log = {
      id: idLog + 1,
      deviceId: deviceId,
      message: message
    }
    var toNumber = `to ${number}`;
    if (typeof number == "undefined") {
      toNumber = ''
    }
    if (number == "") {
      toNumber = ''
    }
    var html = `<span id="log_id${idLog}" style="color: rgb(12, 249, 12);">${date} => ${deviceId} Info : ${message} ${toNumber}<br></span>`;
    $('#divLogs').append(html);
    if (totalLog > 20) {
      var idRemove = `log_id${idLog - 21}`;
      document.getElementById(idRemove).remove();
    }
    logs.push(log)
  }

  async function refreshMessage() {
    $("#tBodyLive").empty();
    var tr = `<tr><td colspan='4' class="text-center">Loading..</td></tr>`
    $("#tblLive > tbody").last().append(tr);
    var dataPost = {}
    var url = `${baseUrl}/getMessageByDeviceLive`;
    var btnId = "refreshMessage";
    var res = await ajaxPost(url, dataPost, btnId);
    if (!res) {
      showSnackError("Something wrong system");
    } else {
      if (res.status) {
        tBodyLive(res.data)
      } else {
        showSnackError(res.remarks);
      }
    }
  }

  function tBodyLive(data) {
    $("#tBodyLive").empty();
    data.forEach(e => {
      var status = e.status.toString();
      if (status == 'false') {
        var device = `<a href="javascript:void(0);" class='btn btn-soft-danger btn-sm'>${e.device_id}</a>`;
      } else {
        var device = `<a href="javascript:void(0);" class='btn btn-soft-success btn-sm'>${e.device_id}</a>`;
      }
      var tr = `<tr>
                <td>${device}</td>
                <td class="text-center">${e.queue}</td>
                <td class="text-center">${e.success}</td>
                <td class="text-center">${e.failed}</td>
              </tr>`
      $("#tblLive > tbody").last().append(tr);
    });
    if (data.length == 0) {
      var tr = `<tr><td colspan='4' class="text-center">No Message found</td></tr>`
      $("#tblLive > tbody").last().append(tr);
    }
  }

  async function resendMessage() {
    await showLoading("Please wait...");
    var dataPost = {}
    var url = `${baseUrl}/reSend`;
    var res = await ajaxPost(url, dataPost, "resendMessage");
    if (res.status) {
      showSnackSuccess(res.remarks);
      refreshMessage();
    } else {
      showSnackError(res.remarks);
    }
    await dismisLoading();
  }

  async function getBar(date, btnId) {
    var dataPost = {
      date: date
    }
    var url = `${baseUrl}/getBar`;
    var res = await ajaxPost(url, dataPost, btnId);
    if (!res) {
      showSnackError("Something wrong system");
    } else {
      if (res.status) {
        document.querySelector("#countries_charts").innerHTML = '';
        var categories = [];
        var categoriesValue = [];
        res.data.forEach(e => {
          var deviceId = e.device_id;
          var value = parseInt(e.success);
          categories.push(deviceId)
          categoriesValue.push(value)
        });

        var barchartCountriesColors = (getChartColorsArray("countries_charts"));
        barchartCountriesColors && (options = {
          series: [{
            data: categoriesValue,
            name: "Success Message"
          }],
          chart: {
            type: "bar",
            height: 436,
            toolbar: {
              show: !1
            }
          },
          plotOptions: {
            bar: {
              borderRadius: 4,
              horizontal: !0,
              distributed: !0,
              dataLabels: {
                position: "top"
              }
            }
          },
          colors: barchartCountriesColors,
          dataLabels: {
            enabled: !0,
            offsetX: 32,
            style: {
              fontSize: "12px",
              fontWeight: 400,
              colors: ["#adb5bd"]
            }
          },
          legend: {
            show: !1
          },
          grid: {
            show: !1
          },
          xaxis: {
            categories: categories
          }
        }, (chart = new ApexCharts(document.querySelector("#countries_charts"), options)).render());
      } else {
        showSnackError(res.remarks);
      }
    }
  };

  function getChartColorsArray(e) {
    if (null !== document.getElementById(e)) {
      var t = document.getElementById(e).getAttribute("data-colors");
      if (t) return (t = JSON.parse(t)).map(function(e) {
        var t = e.replace(" ", "");
        return -1 === t.indexOf(",") ? getComputedStyle(document.documentElement).getPropertyValue(t) || t : 2 == (e = e.split(",")).length ? "rgba(" + getComputedStyle(document.documentElement).getPropertyValue(e[0]) + "," + e[1] + ")" : t
      });
      console.warn("data-colors atributes not found on", e)
    }
  }

  function generateData(e, t) {
    for (var o = 0, a = []; o < e;) {
      var r = (o + 1).toString() + "h",
        s = Math.floor(Math.random() * (t.max - t.min + 1)) + t.min;
      a.push({
        x: r,
        y: s
      }), o++
    }
    return a
  }
</script>
</body>

</html>