<%- include('../../partials/header.ejs') %>
<%- include('../../partials/topbar.ejs') %>
<%- include('../../partials/sidebar.ejs') %>
<style>
  .vTop {
    vertical-align: top;
  }
</style>

<!-- dropzone css -->
<link rel="stylesheet" href="/assets/libs/dropzone/dropzone.css" type="text/css" />

<!-- Filepond css -->
<link rel="stylesheet" href="/assets/libs/filepond/filepond.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <%- include('../../partials/page-title.ejs') %>
      <div class="row">
        <div class="col-lg-12">
          <div class="card" id="leadsList">
            <div class="card-header border-0">

            </div>
            <div class="card-body">
              <div class="alert alert-primary alert-border-left alert-dismissible fade show" role="alert">
                Restart node service if your whatsapp services not working!
              </div>
              <button class="btn btn-danger btn-sm border-danger" onclick="restart()">RESTART SERVICE</button>
              <br>
              <div id="divMessage" style="width:100%; margin:5px 5px 5px 5px;"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalLoading"></div>
  <div id="tempatTombolExport"></div>
  <%- include('../../partials/footer.ejs') %>
</div>
<%- include('../../partials/customizer.ejs') %>
<%- include('../../partials/vendor-scripts.ejs') %>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
<script type='text/javascript' src='/assets/libs/choices.js/public/assets/scripts/choices.min.js'></script>
<script src="/assets/libs/sortablejs/Sortable.min.js"></script>
<script src="/assets/js/pages/nestable.init.js"></script>
<script src="/assets/js/app.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="/assets/js/pages/tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>

<!-- GENERAL SCRIPT -->
<script>
  var versionUpdate = (new Date()).getTime();
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "/assets/js/script.js";
  document.body.appendChild(script);
</script>

<script>
  var rowCount = 0;
  var baseUrl = '<%- baseurl %>';
  const sekarang = '<%-  sekarang %>';

  async function restart() {
    await showLoading("Please wait...");
    var dataPost = {
      id: 3
    }
    var url = `${baseUrl}/restart`;
    var res = await ajaxPostWIthList(url, dataPost, "");
    if (res.status) {
      showSnackSuccess(res.remarks);
    } else {
      showSnackError(res.remarks);
    }
    await dismisLoading();
  }

  async function log() {
    await showLoading("Please wait...");
    var dataPost = {
      id: 3
    }
    var url = `${baseUrl}/getLog`;
    var res = await ajaxPostWIthList(url, dataPost, "");
    if (res.status) {
      showSnackSuccess(res.remarks);
      document.getElementById("divMessage").innerHTML = res.data;
    } else {
      showSnackError(res.remarks);
    }
    await dismisLoading();
  }

  async function ajaxPostWIthList(url, dataPost, btnId) {
    return await Promise.resolve(
      $.ajax({
        url: url,
        type: "post",
        dataType: "json",
        data: JSON.stringify(dataPost),
        contentType: "application/json; charset=utf-8",
        beforeSend: function() {
          btnId.value = "Processing....";
          btnId.disabled = true;
        },
        success: (res) => {
          btnId.disabled = false;
          return res;
        },
        error: (XMLHttpRequest, textStatus, errorThrown) => {
          btnId.disabled = false;
          return false;
        },
      })
    );
  }
</script>
</body>

</html>