<%- include('../../partials/header.ejs') %>
<%- include('../../partials/topbar.ejs') %>
<%- include('../../partials/sidebar.ejs') %>
<style>
  .vTop {
    vertical-align: top;
  }
</style>

<!-- dropzone css -->
<link rel="stylesheet" href="/assets/libs/dropzone/dropzone.css" type="text/css" />

<!-- Filepond css -->
<link rel="stylesheet" href="/assets/libs/filepond/filepond.min.css" type="text/css" />
<link rel="stylesheet" href="/assets/libs/filepond-plugin-image-preview/filepond-plugin-image-preview.min.css">

<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <%- include('../../partials/page-title.ejs') %>
      <div class="row">
        <div class="col-lg-12">
          <div class="card" id="leadsList">
            <div class="card-header border-0">

            </div>
            <div class="card-body">
              <div class="alert alert-primary alert-border-left alert-dismissible fade show" role="alert">
                Please follow the template upload file to make sure the message is sent properly.
                <button type="button" class="btn btn-success btn-sm" onclick="downloadTemplate()"><i class="fa fa-download"></i> Download here..</button>
              </div>

              <input name="file" type="file" id="inputExcel" class="form-control">
              <br>
              <button class="btn btn-soft-info btn-sm border-info">TOTAL DATA <b id="totalMessage">0</b></button>
              <button class="btn btn-danger btn-sm border-danger" onclick="clearTBody()">CLEAR</button>
              <button class="btn btn-info btn-sm border-info" id="submit" onclick="submit()"> <i class="ri-mail-send-fill"></i> SEND BULK MESSAGE</button>
              <br>
              <table id="tblMessage" class="table table-striped" style="width:100%; margin-top:5px;">
                <thead>
                  <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">DEVICE_ID</th>
                    <th class="text-center">WA_NUMBER</th>
                    <th>URL_FILE</th>
                    <th>MESSAGES</th>
                  </tr>
                </thead>
                <tbody id="tblMessageBody"></tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="modalLoading"></div>
  <div id="tempatTombolExport"></div>
  <%- include('../../partials/footer.ejs') %>
</div>
<%- include('../../partials/customizer.ejs') %>
<%- include('../../partials/vendor-scripts.ejs') %>

<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/toastify-js'></script>
<script type='text/javascript' src='/assets/libs/choices.js/public/assets/scripts/choices.min.js'></script>
<script src="/assets/libs/sortablejs/Sortable.min.js"></script>
<script src="/assets/js/pages/nestable.init.js"></script>
<script src="/assets/js/app.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js" integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.js" integrity="sha512-OmBbzhZ6lgh87tQFDVBHtwfi6MS9raGmNvUNTjDIBb/cgv707v9OuBVpsN6tVVTLOehRFns+o14Nd0/If0lE/A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script src="/assets/js/pages/tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/autonumeric/4.1.0/autoNumeric.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>

<!-- GENERAL SCRIPT -->
<script>
  var versionUpdate = (new Date()).getTime();
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "/assets/js/script.js";
  document.body.appendChild(script);
</script>

<script>
  var rowCount = 0;
  var baseUrl = '<%- baseurl %>';
  const sekarang = '<%-  sekarang %>';
  $(document).ready(function() {
    loadFunctionExcel();
  });

  function downloadTemplate() {
    const html = `<a target="_blank" href="${baseUrl}/downloadTemplate" id="btnExport"></a>`;
    document.querySelector('#tempatTombolExport').innerHTML = html;
    document.querySelector('#btnExport').click();
  }

  function loadFunctionExcel() {
    // let selectedFile;
    document.getElementById('inputExcel').addEventListener("change", (event) => {
      selectedFile = event.target.files[0];
      //   let data = [{
      //     "name": "jayanth",
      //     "data": "scd",
      //     "abc": "sdef"
      //   }]
      //   XLSX.utils.json_to_sheet(data, 'out.xlsx');
      if (selectedFile) {
        let fileReader = new FileReader();
        fileReader.readAsBinaryString(selectedFile);
        fileReader.onload = (event) => {
          let data = event.target.result;
          let workbook = XLSX.read(data, {
            type: "binary",
            cellDates: true,
            dateNF: 'mm/dd/yyyy;@'
          });
          console.log(workbook.SheetNames[0])
          var wni = XLSX.utils.sheet_to_json(workbook.Sheets[workbook.SheetNames[
            0]], {
            cellDates: true,
            raw: false
          });
          var counter = 0;
          wni.forEach(index => {

            var DEVICE_ID = index['DEVICE_ID'] == null ? "-" : index['DEVICE_ID'];
            var WA_NUMBER = index['WA_NUMBER'] == null ? "-" : index['WA_NUMBER'];
            var URL_FILE = index['URL_FILE'] == null ? "" : index['URL_FILE'];
            var MESSAGES = index['MESSAGES'] == null ? "-" : index['MESSAGES'];

            var INPUT_DEVICE_ID = `<input name="I_DEVICE_ID[]" type="hidden" value="${DEVICE_ID}">`;
            var INPUT_WA_NUMBER = `<input name="I_WA_NUMBER[]" type="hidden" value="${WA_NUMBER}">`;
            var INPUT_URL_FILE = `<input name="I_URL_FILE[]" type="hidden" value="${URL_FILE}">`;
            var INPUT_MESSAGES = `<input name="I_MESSAGES[]" type="hidden" value="${MESSAGES}">`;

            var allInput = "";
            var showDataToTable = "";
            allInput += INPUT_DEVICE_ID;
            allInput += INPUT_WA_NUMBER;
            allInput += INPUT_URL_FILE;
            allInput += INPUT_MESSAGES;

            var number = counter + 1;
            var showDelete = `<td  class="text-center" style="padding:4px;">${allInput}<a href="#" onclick="deleteMessage(this)" style="margin:0; color:red">DELETE</i></td>`;
            showDataToTable += showDelete;
            showDataToTable += '<td style="padding:4px;" class="text-center">' + DEVICE_ID + '</td>';
            showDataToTable += '<td style="padding:4px;" class="text-center">' + WA_NUMBER + '</td>';
            showDataToTable += `<td style="padding:4px;"><a href='${URL_FILE}'>${URL_FILE}</a></td>`;
            showDataToTable += '<td style="padding:4px;">' + MESSAGES + '</td>';
            counter++;
            $("#tblMessage > tbody").last().append(`<tr>${showDataToTable}</tr>`);
          });
          document.getElementById("totalMessage").innerHTML = counter;
        }
      }
    });
  }

  function deleteMessage(nik) {
    var table = document.getElementById("tblMessage");
    var row = nik.parentNode.parentNode;
    row.parentNode.removeChild(row);
    document.getElementById("totalMessage").innerHTML = table.tBodies[0].rows.length;;
  }

  function clearTBody() {
    $("#tblMessageBody").empty();
    $("#inputExcel").val("");
  }

  async function ajaxPostWIthList(url, dataPost, btnId) {
    return await Promise.resolve(
      $.ajax({
        url: url,
        type: "post",
        dataType: "json",
        data: JSON.stringify(dataPost),
        contentType: "application/json; charset=utf-8",
        beforeSend: function() {
          btnId.value = "Processing....";
          btnId.disabled = true;
        },
        success: (res) => {
          btnId.disabled = false;
          return res;
        },
        error: (XMLHttpRequest, textStatus, errorThrown) => {
          btnId.disabled = false;
          return false;
        },
      })
    );
  }

  async function submit() {
    var status = true;
    var dataPosts = [];
    var device_ids = $('input[name="I_DEVICE_ID[]"]').map(function() {
      return this.value;
    }).get();
    var numbers = $('input[name="I_WA_NUMBER[]"]').map(function() {
      return this.value;
    }).get();
    var files = $('input[name="I_URL_FILE[]"]').map(function() {
      return this.value;
    }).get();
    var messages = $('input[name="I_MESSAGES[]"]').map(function() {
      return this.value;
    }).get();

    if (device_ids.length <= 0) {
      status = false;
      showSnackError("No Message found");
      return false
    }

    for (let index = 0; index < device_ids.length; index++) {
      const device_id = device_ids[index];
      const number = numbers[index];
      const file = files[index];
      const message = messages[index];
      var type = 'text';
      if (file != '') {
        var splitFile = file.split(".");
        var ext = splitFile[splitFile.length - 1];
        if (ext == 'jpg' || ext == 'png' || ext == 'jpeg') {
          type = 'image';
        } else if (ext == 'pdf') {
          type = 'document';
        } else {
          status = false;
          showSnackError(`Only .jpg .png .jpeg .pdf extentions [${number}]`);
          return false
        }
      }
      if (number == '' || number.length < 6) {
        status = false;
        showSnackError(`Please enter phone number, minimal 6 characters [${number}]`);
        return false
      }
      if (message == '' || message.length < 4) {
        status = false;
        showSnackError(`Please enter message, minimal 4 characters [${number}]`);
        return false
      }
      if (status) {
        var dataPost = {
          device_id: device_id,
          number: number,
          message: message,
          file: file,
          type: type,
        }
        dataPosts.push(dataPost);
      }
    }

    if (status) {
      var url = `${baseUrl}/sendBulk`
      var btnId = "submit";
      await showLoading("Please wait...");
      var res = await ajaxPostWIthList(url, {
        dataPost: dataPosts
      }, btnId);
      await dismisLoading();
      if (!res) {
        showSnackError("Something wrong system");
      } else {
        if (res.status) {
          success(res.remarks)
        } else {
          showSnackError(res.remarks);
        }
      }
    }
  };
</script>
</body>

</html>